# Backend
PORT=3000

# PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=proyecto_integrador
DATABASE_USER=postgres
DATABASE_PASSWORD=password

# Authentication
JWT_SECRET=super_secret